.Article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.PublishedDate{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.4rem, 1vw + 0.5rem, 0.7rem);
    line-height: 1.6;
    font-weight: 400;
}

.ArticleParagraph {
    width: min(60%, 954px);
    margin-inline: auto;
    text-align: start;
    font-weight: 400;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    transition: max-height 1.2s ease-in-out, -webkit-line-clamp 1.2s ease-in-out;
}
  
  .ArticleParagraph:focus {
    max-height: none; 
    -webkit-line-clamp: unset;  
    outline: none;
  }
  
